<!-- snippets/component__collection-item.liquid -->
{% comment %}
  Thumbnail of a collection. Featured image and collection title shown.

  Accepts:
  - collection: {Object} Liquid object for collection values.

  Globals:
  - collection_card_color_scheme: {string} Class string to set color.
  - collection_card_color_border: {string} Class string to set border color.
  - collection_card_ratio: {string} Class string to set image ratio.
  - collection_cards_object: {string} Class string to set image crop.
  - collection_card_title_font: {string} Class string to set font family.
  - collection_card_title_capitlization: {string} Class string to capitilization
  - enable_animations: {boolean} Indicates if the animations should be used.

  Usage:
    {% render 'component__collection-item',
      collection: block.settings.collection
    %}

  Recommendations:
  - Use this snippet to display collection thumbnails in a grid.
{% endcomment %}

{% comment %} Set placeholder product if blank {% endcomment %}
{% if collection == null %}
  {% for collection in collections limit: 1 %}
    {% assign collection = collection %}
  {% endfor %}
{% endif %}

<div
  class="
    group/collection focus-within:border--focus border--radius relative flex w-full
    flex-col
    {% if settings.collection_card_border_style == 'thumbnail' %}
      border--radius overflow-clip
      {{ settings.collection_card_color_border }}
      {{ settings.collection_card_color_scheme }}
    {% endif %}
  "
>
  {% comment %} Image {% endcomment %}
  {% if settings.collection_card_enable_image %}
    <a
      href="{{ collection.url }}"
      class="
        relative block w-full hover:opacity-100
        {% if settings.collection_card_border_style == 'image' %}
          border--radius overflow-clip
          {{ settings.collection_card_color_border }}
        {% endif %}
      "
      tabindex="-1"
    >
      <div
        class="
          w-full
          {{ settings.collection_card_color_scheme }}
        "
      >
        <div
          class="
            overflow-clip
            {{ settings.collection_card_ratio }}
          "
        >
          {% unless collection.featured_image == blank %}
            {% capture aspect_ratio %}
              {{ settings.collection_card_ratio }}
            {% endcapture %}
            {% capture crop %}
              {% if settings.collection_card_crop == "cover" %}
                object-cover
              {% else %}
                object-contain
              {% endif %}
            {% endcapture %}
            {% render 'component__image',
              image: collection.featured_image,
              max_width: 1600,
              background_class: '',
              container_class: 'h-full',
              image_class: 'group-hover/collection:scale-105 animation-300',
              ratio_class: aspect_ratio,
              crop_class: crop,
              enable_lazy_load: true
            %}
          {% endunless %}
        </div>
      </div>
    </a>
  {% endif %}

  {% comment %} Grid preview {% endcomment %}
  {% if settings.collection_card_product_preview == 'grid' %}
    <a
      href="{{ collection.url }}"
      class="
        relative grid w-full grid-cols-2 hover:opacity-100
        {% if settings.collection_card_border_style == 'image' %}
          border--radius overflow-clip
          {{ settings.collection_card_color_border }}
        {% endif %}
      "
      style="
        gap: {{ settings.border_element_width }}px;
        {% if settings.collection_card_border_style == 'image' %}
          padding-top: {{ settings.border_element_width }}px;
          padding-left: {{ settings.border_element_width }}px;
          padding-right: {{ settings.border_element_width }}px;
        {% endif %}
      "
      tabindex="-1"
    >
      {% for product in collection.products limit: 4 %}
        <div
          class="border--radius color__bg-body relative block w-full overflow-clip {{ settings.collection_card_color_border }}"
        >
          {% render 'component__image',
            image: product.featured_image,
            max_width: 600,
            background_class: '',
            parent_class: '',
            container_class: '',
            image_class: 'w-full',
            ratio_class: 'aspect-[1\/1] aspect-w-1 aspect-h-1',
            crop_class: 'object-cover',
            enable_lazy_load: true
          %}
        </div>
      {% endfor %}
    </a>
  {% endif %}

  {% comment %} Content {% endcomment %}
  <a
    href="{{ collection.url }}"
    class="
      flex flex-col justify-between gap-4 whitespace-normal pt-2 no-underline hover:no-underline focus:no-underline md:flex-row md:flex-nowrap
      {{ settings.collection_card_alignment }}
      {% if settings.collection_card_border_style == "thumbnail" %}
        p-4
      {% endif %}
    "
  >
    {% comment %} Content {% endcomment %}
    <div class="w-full flex-1">
      <h3
        class="
          m-0
          {{ settings.collection_card_title_capitlization }}
          {{ settings.collection_card_title_font }}
        "
      >
        {{ collection.title }}
      </h3>

      {% if settings.collection_card_enable_size %}
        <p class="type--smaller uppercase opacity-50">
          {{ collection.products_count }}
          {{ 'labels.items' | t | downcase }}
        </p>
      {% endif %}

      {% if settings.collection_card_enable_description %}
        <p class="type--small mb-0 opacity-75">
          {{ collection.description | truncate: 128 | strip_html | strip }}
        </p>
      {% endif %}
    </div>

    {% comment %} Products {% endcomment %}
    {% if settings.collection_card_product_preview == 'inline' %}
      <div
        class="flex w-full items-start justify-end gap-2 md:w-1/2 md:gap-0"
      >
        {% for product in collection.products limit: 4 %}
          <div
            class="
              border--radius animation-100--all color__bg-body relative block w-1/4 overflow-clip
              group-hover/collection:ml-0
              md:ml-[-10%] md:border-l-4
            "
          >
            {% render 'component__image',
              image: product.featured_image,
              max_width: 200,
              background_class: '',
              container_class: '',
              image_class: 'w-full',
              ratio_class: 'aspect-[1\/1] aspect-w-1 aspect-h-1',
              crop_class: 'object-cover',
              enable_lazy_load: true
            %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </a>
</div>
