<!-- snippets/product__rating.liquid -->
{% comment %} 
  Block to display product rating from metafields. 

  Accepts:
  - blocksettings: {object} Liquid object of block settings.
  - is_featured: {boolean} Assigns product object from section settings. Set this to true if block is used within a section rather than product template.
      
  Usage:
    {% render 'product__rating', 
      block: block, 
      is_featured: true 
    %}

  Possible enhancements:
  - Add ability to click to scroll to review section. 

  Recommendations:
  - Many apps may have their own app blocks that can be used instead of this.
{% endcomment %}

{% if is_featured %}

  {% comment %} Set product based on section settings {% endcomment %}
  {% assign product = section.settings.product %}

  {% comment %} Set placeholder product if blank {% endcomment %}
  {% if request.design_mode and product == null  %}
    {% for product in collections['all'].products limit:1 %}
      {% assign product = product %}
    {% endfor %}
  {% endif %}

{% endif %}

<div 
  class="w-full
    {{ block.settings.color_scheme }}
    {{ block.settings.color_border }}
    {{ block.settings.style_border }}
  "
  style="
    padding-top:{{ block.settings.spacing_top }}px;
    padding-bottom:{{ block.settings.spacing_bottom }}px;
  ">
  <div class="flex items-center">
    {% render 'component__rating', 
      product: product,
      enable_stars: true,
      enable_badge: false
    %}
  </div>
</div>