<!-- snippets/product__add.liquid -->
{% comment %}
  This snippet is responsible for the "Add to Cart" functionality in product sections. It includes a quantity selector, variant picker, subscription options, and additional content.

  Accepts:
  - blocksettings: {object}: A liquid object of block settings. This object contains the settings for the block in which the product is being displayed.
  - is_featured: {boolean}: A flag indicating whether the product is featured.
  - is_edit_section: {boolean}: A flag indicating whether the current section is an edit overlay.

  Usage:
    {% render 'product__add',
      block: block,
      is_featured: true,
      is_edit_section: true
    %}

  Globals:
  - variant_selection {string}: This setting allows you to set the variants style to either dropdown or buttons.
  - type_separator {string}: This setting allows you to choose the type of separator between text.

  Recommendations:
  - Consider including a nesting container within the snippet for better organization and readability.
{% endcomment %}

{% comment %} Set product based on section settings {% endcomment %}
{% if is_featured %}
  {% assign product = section.settings.product %}
{% endif %}

{% liquid
  assign enable_gift_card_recipient = false
  if block.settings.enable_gift_card_recipient and product.gift_card?
    assign enable_gift_card_recipient = true
  endif
%}

{% if enable_gift_card_recipient %}
  {% render 'product__gift-form' %}
{% endif %}

{% comment %} Add {% endcomment %}
<div
  id="product-add"
  class="w-full"
  x-intersect:enter="stickyadd = false;"
  x-intersect:leave="stickyadd = true;"
>
  {% comment %} Action buttons {% endcomment %}
  <div class="flex flex-wrap items-end gap-4">
    <div class="flex w-full flex-grow gap-2">
      {% if block.settings.enable_quantity %}
        <div
          class="flex w-full max-w-[128px] items-center justify-between"
        >
        <div class="group relative w-full">
            <label
              class="sr-only"
              for="{{ product.id }}-quantity"
            >
              {{ 'labels.quantity' | t }}
            </label>
            <div
              class="border__input--radius border__input color__border-input hover:border__input--hover focus-within:border__input--focus relative flex overflow-hidden"
            >
            <input
              id="{{ product.id }}-quantity"
              class="!rounded-none !border-0 text-center"
              type="number"
              name="quantity"
                value="1"
                placeholder="1"
                min="1"
              x-model="quantity"
              @change.debounce="
                button_loading = true;
                handleProductFormChange({{ is_product_template }});
                setTimeout(function(){ button_loading = false}, 300);
              "
            >
              <div
                class="invisible absolute left-0 top-0 h-0.5 w-full overflow-hidden"
                :class="{ '!visible !z-10' : button_loading && cart_loading }"
              >
                <div class="color__bg-shade-2">
                  <div
                    class="color__bg-text h-0.5 w-0"
                    :class="{ 'animate-widthexpand': button_loading && cart_loading }"
                  ></div>
                </div>
            </div>
            <div class="color__bg-input color__input absolute left-0 flex h-full flex-col justify-center gap-0">
              <button
                class="btn btn--smaller btn--plain color__outline-input outline--width !h-full shrink-0 !rounded-none !px-2"
                  title="{{ 'actions.decrease_item_quantity' | t }}"
                  type="button"
                  tabindex="-1"
                @click.prevent="
                  button_loading = true;
                    if (quantity > 0) {
                      quantity--;
                    handleProductFormChange({{ is_product_template }});
                  setTimeout(function(){ button_loading = false}, 500);
                    }
                "
              >
                {% render 'component__icon', icon: 'minus', size: '14', class: '' %}
              </button>
            </div>
            <div class="color__bg-input color__input absolute right-0 flex h-full flex-col justify-center gap-0">
              <button
                class="btn btn--smaller btn--plain color__outline-input outline--width !h-full shrink-0 !rounded-none !px-2"
                  title="{{ 'actions.increase_item_quantity' | t }}"
                  type="button"
                  tabindex="-1"
                @click.prevent="
                  button_loading = true;
                    quantity++;
                  handleProductFormChange({{ is_product_template }});
                  setTimeout(function(){ button_loading = false}, 500);
                "
              >
                {% render 'component__icon', icon: 'plus', size: '14', class: '' %}
              </button>
            </div>
          </div>
            {% capture quantity_break_content %}
              {% for variant in product.variants %}
                {% assign has_quantity_breaks = false %}
                {% if variant.quantity_price_breaks.size > 0 %}
                  {% assign has_quantity_breaks = true %}
                  {% assign quantity_break_array = variant.quantity_price_breaks | sort: 'quantity' %}
                  <div 
                    class="flex flex-col"
                    x-show="current_variant_id === {{ variant.id }}">
                    {% if customer.b2b? %}
                      <span class="type--smaller border--b-width color__border-divider-1 flex flex-col pb-1 opacity-75">
                        <span class="type--smaller">
                          {{ 'labels.min' | t }} {{ variant.quantity_rule.min }} • {{ 'labels.max' | t }} {{ variant.quantity_rule.max }}
                        </span>
                        <span class="type--smaller">
                          {{ 'labels.increments_of' | t }} {{ variant.quantity_rule.increment }}
                        </span>
                      </span>
                    {% endif %}
                    {%- for price_break in quantity_break_array -%}
                      <div 
                        class="
                          type--smaller flex justify-between gap-2 py-1 
                          {% unless forloop.last %}border--b-width color__border-divider-1{% endunless %}
                        ">
                        <span>
                          {{ price_break.minimum_quantity }}+
                        </span>
                        <span>
                          {% render 'component__format-price', price: price_break.price %}/{{ 'labels.each' | t | downcase }}
                        </span>
                      </div>
                    {%- endfor -%}
                  </div>
                {% endif %}
              {% endfor %}
            {% endcapture %}
            {% if has_quantity_breaks %}
              {% render 'component__tooltip',
                content: quantity_break_content,
                background: 'text',
                text: 'light',
                tip: 'left',
                container_class: 'mt-4'
              %}
            {% endif %}
        </div>
      </div>
    {% endif %}
      
      {% comment %} Choose options, if non selected {% endcomment %}
      <button
        class="btn btn--load btn--plain !w-full"
        :class="{ 'btn--loading' : cart_loading && button_loading }"
        type="button"
        role="button"
        disabled
        :disabled="button_loading"
        @click="failed_clicked = true;"
        x-show="!all_options_selected"
        x-cloak
      >
        <div class="btn__content">
          {{ 'actions.choose_options' | t }}
        </div>
      </button>

      {% comment %} Sold out, if selected option unavailable {% endcomment %}
      <button
        class="btn btn--load btn--plain !w-full"
        :class="{ 'btn--loading' : cart_loading && button_loading }"
        type="button"
        role="button"
        disabled
        :disabled="button_loading"
        x-show="!current_variant_available && current_variant_exists && all_options_selected"
        x-cloak
      >
        <div class="btn__content">
          {{ 'labels.sold_out' | t }}
        </div>
      </button>

      {% comment %} Unavailable, if selected option unavailable {% endcomment %}
      <button
        class="btn btn--load btn--plain !w-full"
        :class="{ 'btn--loading' : cart_loading && button_loading }"
        type="button"
        role="button"
        disabled
        :disabled="button_loading"
        x-show="!current_variant_exists && all_options_selected"
        x-cloak
      >
        <div class="btn__content">
          {{ 'labels.unavailable' | t }}
        </div>
      </button>

      {% comment %} Add to cart {% endcomment %}
      {% comment %} - Button will be hidden for when is_edit_section while variants aren't new {% endcomment %}
      <button
        class="btn btn--load !w-full {{ block.settings.color_button }}"
        type="submit"
        role="button"
        :class="{ 'btn--loading' : cart_loading && button_loading }"
        :disabled="button_loading"
        {% if is_edit_section %}
          {% if product.selling_plan_groups.size > 0 %}
            x-show="current_variant_exists && current_variant_available && all_options_selected"
          {% else %}
            x-show="current_variant_exists && current_variant_available && all_options_selected && edit_variant != current_variant_id"
          {% endif %}
        {% else %}
          x-show="current_variant_exists && current_variant_available && all_options_selected"
        {% endif %}
      >
        <div class="btn__content">
          {% if product.metafields.custom.button_text %}
            {{ product.metafields.custom.button_text }}
            {% if settings.type_separator == 'dot' %}·{% else %}|{% endif %}
          {% else %}
            {% if is_edit_section %}
              {{ 'actions.save_changes' | t }}
            {% else %}
              {{ 'actions.add_to_cart' | t }}
            {% endif %}
            {% if settings.show_button_prices %}
              {% if settings.type_separator == 'dot' %}·{% else %}|{% endif %}
            {% endif %}
          {% endif %}

          {% capture product_price %}
            <span class="ml-1" 
              x-html="Shopify.formatMoney(calculated_price)">
              {% render 'component__format-price', price: product.price %}
            </span>
          {% endcapture %}
          {% if settings.show_button_prices %}
            {{ product_price }}
          {% endif %}
        </div>
        <div class="btn__spinner">
          {% render 'component__icon', icon: 'spinner', size: '24', class: '' %}
        </div>
      </button>

      {% comment %} Choose options when editing {% endcomment %}
      {% if is_edit_section and product.selling_plan_groups.size == 0 %}
        <button
          class="btn btn--load btn--plain !w-full"
          :class="{ 'btn--loading' : cart_loading && button_loading }"
          type="button"
          role="button"
          disabled
          :disabled="button_loading"
          x-show="edit_variant == current_variant_id"
        >
          <div class="btn__content">
            {{ 'actions.choose_options' | t }}
          </div>
        </button>
      {% endif %}
    </div>
  </div>

  {% comment %} Set quantity to 1 when quantity input is disabled {% endcomment %}
  {% unless block.settings.enable_quantity %}
    <input
      class="hidden"
      type="number"
      name="quantity"
      placeholder="1"
      min="1"
      value="1"
      x-model="quantity"
      hidden
    >
  {% endunless %}
</div>
