<!-- snippets/product__bundle.liquid -->
{% comment %}
  Add multiple products to cart using metafields.

  Accepts:
  - blocksettings: {object} Liquid object of block settings.
  - is_featured: {boolean} Set to true if block is used within a section rather than product template. This will assign product object from section settings.

  Usage:
    {% render 'product__bundle',
      block: block,
      is_featured: true,
    %}
{% endcomment %}

{% assign bundle_size = 0 %}
{% for item in product.metafields.custom.product_bundle.value %}
  {% assign bundle_size = forloop.index %}
{% endfor %}

{% if is_featured %}
  {% comment %} Set product based on section settings {% endcomment %}
  {% assign product = section.settings.product %}

  {% comment %} Set placeholder product if blank {% endcomment %}
  {% if request.design_mode and product == null %}
    {% for product in collections.all.products limit: 1 %}
      {% assign product = product %}
    {% endfor %}
  {% endif %}
{% endif %}

<div
  id="product-bundle"
  class="
    w-full
    {{ block.settings.color_scheme }}
    {{ block.settings.color_border }}
    {{ block.settings.style_border }}
  "
  style="
    padding-top:{{ block.settings.spacing_top }}px;
    padding-bottom:{{ block.settings.spacing_bottom }}px;
  "
  x-data="
    {
      bundle_ids: {},
      bundle_prices: {},
      bundles_selected: false,
      bundles_size: {{ bundle_size }},
      updateBundle: function(index, id, price) {
        this.bundle_ids[index] = id;
        this.bundle_prices[index] = price;
        if (Object.keys(this.bundle_ids).length >= this.bundles_size) {
          this.bundles_selected = true;
        }
      }
    }
  "
>
  {% comment %} Bundle items {% endcomment %}
  <span class="type--smaller mb-2 flex opacity-75">
    {{ 'labels.bundle_includes' | t }}
  </span>
  <div
    class="border--radius mb-4 flex flex-col"
    style="gap: {{ settings.gap_size }}px;"
  >
    {% for product in product.metafields.custom.product_bundle.value %}
      <div
        class="
          border--radius focus-within:border--focus color__bg-shade-1 relative flex flex-none justify-center overflow-hidden whitespace-normal
          {{ settings.product_card_color_border }}
        "
        x-data="
          {
            bundle_item_price: {{ product.price }},
            bundle_item_id: {{ product.selected_or_first_available_variant.id }},
          }
        "
      >
        <div
          class="color__bg-shade-1 color__text flex w-full items-start"
        >
          {% comment %} Image {% endcomment %}
          <div
            class="
              flex h-full  w-[25%] flex-none justify-center overflow-hidden
              {{ settings.product_card_color_border }}
            "
          >
            <a
              class="flex aspect-[1/1] h-full w-full items-center object-cover"
              href="{{ product.url }}"
            >
              {% render 'component__image',
                image: product.featured_image,
                aspect_ratio: 'aspect-[1/1]',
                background: '',
                crop: 'object-cover',
                max_width: 200,
                container_class: 'h-full w-full',
                image_class: '',
                enable_lazy_load: true
              %}
            </a>
          </div>

          {% comment %} Content {% endcomment %}
          <div
            class="flex w-full flex-col gap-4 p-4 "
          >
            {% comment %} Details {% endcomment %}
            <div
              class="flex flex-grow flex-row items-start justify-between gap-2 text-left"
            >
              {% comment %} Title {% endcomment %}
              <div
                class="type--small"
              >
                <p>
                  {{ product.title }}
                </p>
                {% if settings.product_card_enable_tagline and product.metafields.descriptors.subtitle %}
                  <span class="flex">
                    {{ product.metafields.descriptors.subtitle }}
                  </span>
                {% endif %}
              </div>

              {% comment %} Price {% endcomment %}
              {% capture product_price %}
                <div class="type--small">
                  <p x-html="Shopify.formatMoney(bundle_item_price)">
                    {% render 'component__format-price', price: product.price %}
                  </p>
                </div>
              {% endcapture %}
              {{ product_price }}
            </div>

            {% comment %} Options {% endcomment %}
            <div
              class="
                flex-wrap
                {% if product.has_only_default_variant %}
                  hidden
                {% endif %}
              "
              {% if product.has_only_default_variant %}
                x-init="
                                    updateBundle({{ forloop.index0 }}, '{{ product.selected_or_first_available_variant.id }}', '{{ product.price }}');
                "
              {% endif %}
            >
              <div class="w-full">
                <label
                  class="type--smaller sr-only mb-1 flex opacity-75"
                  for="Variants-{{ product.id }}-{{ section.id }}"
                >
                  {{ 'labels.options' | t }}
                </label>
                <select
                  id="Variants-{{ product.id }}-{{ section.id }}"
                  class="w-full"
                  name="id"
                  @change="
                    bundle_item_id = $event.target.value;
                    bundle_item_price = $event.target.options[$event.target.selectedIndex].dataset.price;
                    updateBundle({{ forloop.index0 }}, bundle_item_id, bundle_item_price);
                  "
                >
                  <option
                    value="-"
                    disabled
                    selected="selected"
                  >
                    Choose options
                  </option>
                  {% for variant in product.variants %}
                    <option
                      value="{{ variant.id }}"
                      data-price="{{ variant.price }}"
                      {% if variant.available == false %}
                        disabled
                      {% endif %}
                    >
                      {{ variant.title }}
                      - {{ variant.price | money | strip_html }}
                      {% if variant.available == false %} - {{ 'labels.sold_out' | t }}{% endif %}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% comment %} Action buttons {% endcomment %}
  <div class="flex-grow">
    {% comment %} Choose options, if non selected {% endcomment %}
    <button
      class="btn btn--load btn--plain !w-full"
      :class="{ 'btn--loading' : cart_loading && button_loading }"
      type="button"
      role="button"
      disabled
      x-show="!bundles_selected"
      x-cloak
    >
      <div class="btn__content">
        {{ 'actions.choose_options' | t }}
      </div>
    </button>

    {% comment %} Add to cart {% endcomment %}
    <button
      class="btn btn--load !w-full {{ block.settings.color_button }}"
      :class="{ 'btn--loading' : cart_loading && button_loading }"
      type="button"
      role="button"
      x-show="bundles_selected"
      @click="
        button_loading = true;
        let bundles = Object.values(bundle_ids).map(id => ({ variantId: id, quantity: 1 }));
        addCartItems(bundles);
        quick_add = false;
        quick_edit = false;
        setTimeout(function(){ button_loading = false}, 2000)
      "
    >
      <div class="btn__content">
        {% if product.metafields.custom.button_text %}
          {{ product.metafields.custom.button_text }}
          {% if settings.type_separator == 'dot' %}·{% else %}|{% endif %}
        {% else %}
          {{ 'actions.add_to_cart' | t }}
        {% endif %}
      </div>
      <div class="btn__spinner">
        {% render 'component__icon', icon: 'spinner', size: '24', class: '' %}
      </div>
    </button>
  </div>
</div>
