<!-- snippets/template__product-stack.liquid -->
{% comment %}
  Upsell item with button to add to cart

  Usage:
    {% render 'template__product-stack' %}

  Recommendations:
    - Must be used within a <template> tag with AlpineJS enabled
{% endcomment %}

<div
  class="
    border--radius upsell group relative flex w-full flex-none justify-center overflow-hidden whitespace-normal
    {{ settings.product_card_color_border }}
  "
>
  {% comment %} Content {% endcomment %}
  <div
    class="
      flex w-full items-start
      {{ settings.product_card_color_scheme }}
    "
  >
    {% comment %} Image {% endcomment %}
    <div
      class="flex h-full w-[25%] flex-none justify-center overflow-hidden"
    >
      <a
        class="color__bg-shade-2 flex aspect-[1/1] h-full w-auto items-center object-cover hover:opacity-100"
        :href="item.url"
      >
        <img
          class="color__bg-shade-2 h-full w-full object-cover"
          width="200"
          height="200"
          loading="lazy"
          :src="`${ item.featured_image }&width=750`"
          :alt="`${ item.title }`"
        >
      </a>
    </div>

    {% comment %} Content {% endcomment %}
    <div
      class="type--small flex h-full w-full flex-grow items-start justify-between gap-2 p-4 text-left"
    >
      {% comment %} Title and price {% endcomment %}
      <div>
        {% comment %} Title {% endcomment %}
        <h3
          class="
            {{ settings.product_card_title_capitilization }}
            {{ settings.product_card_title_font }}
             type--smaller
          "
          x-text="item.title"
        ></h3>

        {% comment %} Prices {% endcomment %}
        {% if settings.product_card_show_prices %}
          <span
            x-html="Shopify.formatMoney(item.price)"
            x-show="item.tags && !item.tags.includes('{{ settings.account_hide_price_tag }}')"
          >
          </span>
        {% endif %}
      </div>

      {% comment %} Quick add {% endcomment %}
      <div
        class="flex gap-1"
        x-show="item.tags && !item.tags.includes('{{ settings.account_hide_price_tag }}')"
      >
        <form
          class="flex flex-wrap"
          action="/cart/add"
          method="post"
          enctype="multipart/form-data"
          x-data="
            {
              current_variant_id: item.variants[0].id,
              current_variant_selling_plan_id: 0,
              quantity: 1,
            }
          "
          @submit.prevent="
            addCartItem(current_variant_id, current_variant_selling_plan_id, quantity, true);
            button_loading = true;
            setTimeout(function(){ button_loading = false}, 500);
          "
        >
          {% comment %} Add to cart {% endcomment %}
          <div
            x-show="item.variants.length == 1"
          >
            <input
              name="id"
              type="hidden"
              :value="current_variant_id"
            >
            <input
              name="quantity"
              type="hidden"
              value="1"
              min="1"
              max=""
              :id="'quantity_t_upsell_grid_item_' + item.id + '-{{ section.id }}'"
              x-model="quantity"
            >
            <button
              class="btn btn--secondary btn--smaller"
              type="submit"
              role="button"
            >
              <div class="btn__content">
                {{ 'actions.add' | t }}
              </div>
              <div
                class="btn__spinner"
              >
                {% render 'component__icon', icon: 'spinner', size: '24', class: '' %}
              </div>
            </button>
          </div>

          {% comment %} Open quick add overlay {% endcomment %}
          <div
            x-show="item.variants.length > 1"
          >
            <button
              class="btn btn--secondary btn--smaller"
              type="button"
              role="button"
              @click="
                button_loading = true;
                reset_product_zindex = true;
                fetchAndRenderQuickAdd(item.handle);
                setTimeout(function(){ button_loading = false}, 500);
              "
            >
              <div class="btn__content">
                {{ 'actions.add' | t }}
              </div>
              <div
                class="btn__spinner"
              >
                {% render 'component__icon', icon: 'spinner', size: '24', class: '' %}
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
