<!-- templates/customers/login.liquid -->
{% assign redirect_url = request.path | append: '?account' %}
{% if settings.account_redirect_url %}
  {% assign redirect_url = settings.account_redirect_url | append: '' %}
{% endif %}
{% assign recover_redirect_url = '/account/login?recover' %}

<section
  x-init="
    {% if customer %}
      window.location.href = '/account/'
    {% endif %}
  "
>
  <div
    class="
      py-12
      {{ settings.x_margin }}
    "
    x-data="{ forgot_password: window.location.hash === '#recover' ? true : false }"
  >
    <div
      class="w-full max-w-prose"
      x-show="forgot_password"
      x-cloak
    >
      <h1 class="mb-4">
        {{ 'actions.reset_password' | t }}
      </h1>

      {% assign form_id = template.id | append: '-recover' %}
      {% form 'recover_customer_password', id: form_id, return_to: recover_redirect_url %}
        {% assign recover_success = form.posted_successfully? %}

        {%- if recover_success == true -%}
          <div class="color__bg-shade-1 type--small border--radius p-2">
            {{ 'info.recover_success' | t }}
          </div>
        {%- endif -%}

        {% if form.errors %}
          <div class="color__bg-shade-1 type--small border--radius mb-4 p-2">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <label for="reset_customer_email">{{ 'labels.email' | t }}</label><br>
        <input
          id="reset_customer_email"
          class="mb-4"
          type="email"
          name="email"
          placeholder="{{ 'actions.email_placeholder' | t }}"
        >

        <button type="submit" class="btn mb-4">
          {{ 'actions.reset_password' | t }}
        </button>

        <div class="border--t-width color__border-divider-1 pt-4">
          <button
            type="button"
            class="btn btn--plain"
            @click.prevent="forgot_password = false; window.location.hash = 'login';"
          >
            {{ 'actions.log_in' | t }}
          </button>
        </div>
      {% endform %}
    </div>

    <div
      class="flex w-full max-w-prose flex-col gap-4"
      x-show="!forgot_password"
    >
      <h1>
        {{ 'actions.log_in' | t }}
      </h1>

      {% assign form_id = template.id | append: '-login' %}
      {% form 'customer_login', class: 'flex flex-col gap-4 items-start', return_to: redirect_url %}
        {%- if recover_success == true -%}
          <div class="color__bg-shade-1 type--small border--radius p-2">
            {{ 'info.recover_success' | t }}
          </div>
        {%- endif -%}

        {% if form.errors %}
          <div class="color__bg-shade-1 type--small border--radius p-2">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <div class="w-full">
          <label for="customer_email">{{ 'labels.email' | t }}</label><br>
          <input
            id="customer_email"
            type="email"
            name="customer[email]"
            placeholder="{{ 'actions.email_placeholder' | t }}"
          >
        </div>

        <div class="w-full">
          <label for="customer_password">{{ 'labels.password' | t }}</label><br>
          <input
            id="customer_password"
            type="password"
            autocomplete
            name="customer[password]"
            placeholder="{{ 'actions.enter_password' | t }}"
          >
        </div>

        <button type="submit" class="btn">
          {{ 'actions.log_in' | t }}
        </button>

        <div class="border--t-width color__border-divider-1 flex w-full flex-col gap-4 pt-4">
          <p>{{ 'info.dont_have_account' | t }}</p>
          <div class="flex gap-4">
            <button
              type="button"
              class="btn btn--plain"
              @click="forgot_password = true; window.location.hash = 'recover';"
            >
              {{ 'actions.forgot_password' | t }}
            </button>
            <a href="{{ routes.account_register_url }}" class="btn btn--plain">
              {{ 'actions.sign_up' | t }}
            </a>
          </div>
        </div>

        <input type="hidden" name="return_to" value="{{ request.path }}/?account">
      {% endform %}

      {% if settings.account_enable_shop_sign_in %}
        <div class="border--t-width color__border-divider-1 flex w-full flex-col gap-4 pt-4">
          <p>{{ 'info.shop_sign_in' | t }}</p>
          {{ shop | login_button }}
        </div>
      {% endif %}
    </div>
  </div>
</section>
