<!-- templates/customers/order.liquid -->

<section>
  <div
    class="
      py-12
      {{ settings.x_margin }}
    "
  >
    {% comment %} Heading {% endcomment %}
    <div class="border--b-width color__border-divider-1 flex w-full flex-col gap-4 pb-4">
      <h1>
        {{ 'labels.account' | t }}
      </h1>
    </div>

    {% comment %} Back {% endcomment %}
    <div class="color__bg-body border--b-width color__border-divider-1 sticky top-0 z-10 flex items-end justify-between gap-4 py-4">
      <a href="{{ routes.account_url }}" class="btn btn--plain btn--smaller">{{ 'actions.back' | t }}</a>
    </div>

    {% comment %} Content {% endcomment %}
    <div class="flex flex-wrap items-start gap-4 pt-6 md:gap-8">
      {% comment %} Sidebar {% endcomment %}
      <div class="border--b-width color__border-divider-1 flex w-full grow flex-col gap-4 pb-8 md:w-auto md:gap-8">
        <div>
          <p>
            {{ order.customer.name }}
          </p>
          <p>
            {{ order.email }}
          </p>
        </div>

        <div class="flex flex-col gap-2">
          <p class="type__heading">
            {{ 'labels.billing_address' | t }}
          </p>
          <div class="type--small">
            {% if order.billing_address %}
              <p>{{ order.billing_address.address1 }}</p>
              {% if order.billing_address.address2 != blank %}
                <p>{{ order.billing_address.address2 }}</p>
              {% endif %}
              <p>
                {{ order.billing_address.city }},
                {% if order.billing_address.province_code %}
                  {{ order.billing_address.province_code }}
                {% endif %}
                , {{ order.billing_address.country_code }}
              </p>
              <p>{{ order.billing_address.zip_code }}</p>
              <p>{{ order.billing_address.phone }}</p>
            {% endif %}
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <p class="type__heading">
            {{ 'labels.shipping_address' | t }}
          </p>
          <div class="type--small">
            {% if order.shipping_address %}
              <p>{{ order.shipping_address.address1 }}</p>
              {% if order.shipping_address.address2 != blank %}
                <p>{{ order.shipping_address.address2 }}</p>
              {% endif %}
              <p>
                {{ order.shipping_address.city }},
                {% if order.shipping_address.province_code %}
                  {{ order.shipping_address.province_code }}
                {% endif %}
                , {{ order.shipping_address.country_code }}
              </p>
              <p>{{ order.shipping_address.zip_code }}</p>
              <p>{{ order.shipping_address.phone }}</p>
            {% endif %}
          </div>
        </div>
      </div>

      {% comment %} Main content {% endcomment %}
      <div class="flex w-full flex-col md:w-2/3">
        {% comment %} Table heading {% endcomment %}
        <div class="flex flex-row flex-wrap items-end justify-between gap-4 pb-4">
          <div class="flex w-full max-w-prose flex-col gap-4 md:w-auto">
            <p class="type__heading">
              {{ 'labels.order' | t }}
              {{ order.name }}
            </p>
            <div class="flex gap-2">
              {% render 'component__badge',
                background: 'transparent',
                text: 'dark',
                border: 'divider-1',
                icon: '',
                content: order.financial_status
              %}
              {% render 'component__badge',
                background: 'transparent',
                text: 'dark',
                border: 'divider-1',
                icon: '',
                content: order.fulfillment_status
              %}
            </div>
          </div>
          <div class="w-full md:w-auto">
            {% assign reorder_url = '' %}
            {% for line_item in order.line_items %}
              {% capture reorder_url %}{{ reorder_url | append: line_item.variant_id | append: ':' | append: line_item.quantity | append: ',' }}{% endcapture %}
            {% endfor %}
            <a href="{{ '/cart/' | append: reorder_url }}" class="btn btn--small btn--secondary">
              {{- 'actions.reorder' | t -}}
            </a>
          </div>
        </div>

        {% comment %} Order details {% endcomment %}
        <table class="min-w-full">
          <tbody class="color__bg-body">
            {% for line_item in order.line_items %}
              <tr class="border--b-width color__border-divider-1">
                <td class="py-4">
                  <div class="flex items-center gap-2">
                    <div class="h-10 w-10">
                      {% render 'component__image',
                        image: line_item.image,
                        max_width: 64,
                        background_class: '',
                        container_class: 'h-full border--radius color__border-divider-1 border--width',
                        crop_class: 'object-contain',
                        enable_lazy_load: true
                      %}
                    </div>
                    <div>
                      {{ line_item.title | link_to: line_item.product.url }}
                      {{ line_item.selling_plan_allocation.selling_plan.name }}
                      <dl class="m-0">
                        <dd class="type--small m-0 truncate opacity-75">
                          {{ line_item.selling_plan_allocation.selling_plan.name }}
                        </dd>
                      </dl>
                      <dl class="m-0">
                        <dd class="type--small m-0 truncate opacity-75">{{ line_item.sku }}</dd>
                      </dl>
                      <dl class="m-0 md:hidden">
                        <dd class="mb-0 mt-1 truncate">
                          {% render 'component__format-price', price: line_item.original_price %} x
                          {{ line_item.quantity }}
                        </dd>
                      </dl>
                      {% if line_item.unit_price > 0 %}
                        <dl class="m-0">
                          <dd class="type--small m-0 truncate opacity-75">
                            {% render 'component__format-price', price: line_item.unit_price %}
                            / {{ line_item.unit_price_measurement.reference_value -}}
                            {{- line_item.unit_price_measurement.reference_unit }}
                          </dd>
                        </dl>
                      {% endif %}
                    </div>
                  </div>
                </td>
                <td class="hidden py-4 align-bottom md:table-cell">
                  {% render 'component__format-price', price: line_item.original_price %}

                  {% if line_item.unit_price > 0 %}
                    <dl class="m-0">
                      <dd class="type--small m-0 truncate opacity-75">
                        {% render 'component__format-price', price: line_item.unit_price %}
                        / {{ line_item.unit_price_measurement.reference_value -}}
                        {{- line_item.unit_price_measurement.reference_unit }}
                      </dd>
                    </dl>
                  {% endif %}
                </td>
                <td class="hidden py-4 align-bottom md:table-cell">{{ line_item.quantity }}</td>
                <td class="py-4 text-right align-bottom">
                  <span class="type--small opacity-50">
                    -{% render 'component__format-price', price: line_item.line_level_total_discount %}
                  </span>
                  <br>
                  {% render 'component__format-price', price: line_item.final_line_price %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="w-full self-end md:w-1/2">
          {% if cart.taxes_included %}
            <div class="border--b-width color__border-divider-1 grid grid-cols-2 items-end gap-2 py-4 md:gap-4">
              <div>
                {{ 'info.tax_included' | t }}
              </div>
            </div>
          {% endif %}
          <div class="border--b-width color__border-divider-1 grid grid-cols-2 items-end gap-2 py-4 md:gap-4">
            <div>
              {{ 'labels.subtotal' | t }}
            </div>
            <div class="text-right">
              {% render 'component__format-price', price: order.line_items_subtotal_price %}
            </div>
          </div>
          {% if order.shipping_price > 0 %}
            <div class="border--b-width color__border-divider-1 grid grid-cols-2 items-end gap-2 py-4 md:gap-4">
              <div>
                {{ 'labels.shipping' | t }}
                <dl class="m-0">
                  {% for method in order.shipping_methods %}
                    <dd class="type--small m-0 truncate pr-1 opacity-75">
                      {{ method.title }}
                    </dd>
                  {% endfor %}
                </dl>
              </div>
              <div class="text-right">
                {% render 'component__format-price', price: order.shipping_price %}
              </div>
            </div>
          {% endif %}
          {% if order.total_discounts > 0 %}
            <div class="border--b-width color__border-divider-1 grid grid-cols-2 items-end gap-2 py-4 md:gap-4">
              <div>
                {{ 'labels.discounts' | t }}
                <dl class="m-0">
                  {% for discount_application in order.discount_applications %}
                    <dd class="type--small m-0 truncate pr-1 opacity-75">
                      {{ discount_application.title }} -
                      {% render 'component__format-price', price: discount_application.total_allocated_amount %}
                    </dd>
                  {% endfor %}
                </dl>
              </div>
              <div class="text-right">
                -
                {% render 'component__format-price', price: order.total_discounts %}
              </div>
            </div>
          {% endif %}
          {% if order.tax_price > 0 %}
            <div class="border--b-width color__border-divider-1 grid grid-cols-2 items-end gap-2 py-4 md:gap-4">
              <div>
                {{ 'labels.tax' | t }}
                <dl class="m-0">
                  {% for tax_line in order.tax_lines %}
                    <dd class="type--small m-0 truncate pr-1 opacity-75">
                      ({{ tax_line.title }}
                      {{ tax_line.rate | times: 100 }}%):
                      {% render 'component__format-price', price: tax_line.price %}
                    </dd>
                  {% endfor %}
                </dl>
              </div>
              <div class="text-right">
                {% render 'component__format-price', price: order.tax_price %}
              </div>
            </div>
          {% endif %}
          <div class="border--b-width color__border-divider-1 grid grid-cols-2 items-end gap-2 py-4 md:gap-4">
            <div>
              <strong>{{ 'labels.total' | t }}</strong>
            </div>
            <div class="text-right">
              <strong>
                {% render 'component__format-price', price: order.total_price %}
              </strong>
            </div>
          </div>
          {% if order.total_refunded_amount > 0 %}
            <div class="border--b-width color__border-divider-1 grid grid-cols-2 items-end gap-2 py-4 md:gap-4">
              <div>
                {{ 'labels.refund' | t }}
              </div>
              <div class="text-right">
                -
                {% render 'component__format-price', price: order.total_refunded_amount %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
