<!-- templates/customers/reset_password.liquid -->

<section>
  <div
    class="
      py-12
      {{ settings.x_margin }}
    "
  >
    <div class="flex w-full max-w-prose flex-col gap-4">
      <h1>
        {{ 'actions.reset_password' | t }}
      </h1>

      {% assign form_id = template.id | append: '-reset' %}
      {% form 'reset_customer_password',
        id: form_id,
        class: 'flex flex-col gap-4 items-start',
        return_to: '/account/'
      %}
        {% if form.errors %}
          <div class="color__bg-shade-1 type--small border--radius p-2">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <div class="w-full">
          <label for="password">{{ 'labels.password' | t }}</label>
          <input id="password" type="password" name="customer[password]" placeholder="****" autocomplete="new-password">
        </div>

        <div class="w-full">
          <label for="password_confirmation">{{ 'actions.confirm_password' | t }}</label>
          <input
            id="password_confirmation"
            type="password"
            name="customer[password_confirmation]"
            placeholder="****"
            autocomplete="new-password"
          >
        </div>

        <button type="submit" class="btn">
          {{ 'actions.reset_password' | t }}
        </button>

        <div class="border--t-width color__border-divider-1 flex w-full flex-col gap-4 pt-4">
          <p>{{ 'info.already_have_account' | t }}</p>
          <div class="flex gap-4">
            <a href="{{ routes.account_login_url }}" class="btn btn--plain">
              {{ 'actions.log_in' | t }}
            </a>
          </div>
        </div>

        <input type="hidden" name="return_to" value="{{ request.path }}/?account">
      {% endform %}
    </div>
  </div>
</section>
