<!-- sections/product-table.liquid -->
{% comment %}
  Table of products. Named 'Featured collection table' in theme settings.

  Globals:
  - layout_horizontal: {string} Horizontal margin from global theme settings.
  - layout_gap_size: {integer} Set the gap between grid items.
{% endcomment %}

<section
  id="{{ section.id }}"
  class="
    animation-1000
    {{ section.settings.visibility }}
    {{ section.settings.color_border }}
    {{ section.settings.style_border }}
    {{ section.settings.color_scheme }}
  "
>
  <div
    class="
      {% if section.settings.enable_margin %}
        {{ settings.x_margin }}
      {% endif %}
    "
    style="
      padding-top:{{ section.settings.spacing_top }}px;
      padding-bottom:{{ section.settings.spacing_bottom }}px;
    "
  >
    <div
      class="
        flex flex-wrap items-start justify-between
        {% if section.settings.enable_split %}
          flex-row
        {% else %}
          flex-col
        {% endif %}
      "
    >
      {% comment %} Header {% endcomment %}
      <div
        class="
          flex w-full flex-col
          {% if section.settings.enable_split %}
            md:w-1/3 md:pr-4 md:sticky md:top-4 md:self-start
          {% endif %}
          {% unless section.settings.enable_margin %}
            px-4
          {% endunless %}
        "
      >
        {% render 'component__section-header' %}
      </div>

      {% comment %} Grid {% endcomment %}
      <div class="w-full">
        <div
          class="
            grid w-full
            {% if section.settings.enable_split %}md:w-2/3{% endif %}
          "
          style="
            {% unless section.settings.enable_margin %}
              padding-left: {{ settings.gap_size }}px;
              padding-right: {{ settings.gap_size }}px;
            {% endunless %}
          "
        >
          {% comment %} Show rows {% endcomment %}
          {% for product in collections[section.settings.collection].products limit: section.settings.products_count %}
            {% render 'component__product-row',
              product: product,
              show_see_all: false,
              show_see_more: true,
              show_details_button: section.settings.show_details_button,
              show_table: section.settings.show_variant_table,
              enable_dynamic_sticky: true,
              enable_description: true
            %}
          {% endfor %}

          {% comment %} Show placeholder in design mode {% endcomment %}
          {% if request.design_mode and section.settings.collection == null %}
            {% for product in collections.all.products limit: section.settings.products_count %}
              {% render 'component__product-row',
                product: product,
                show_see_all: false,
                show_see_more: true,
                show_details_button: section.settings.show_details_button,
                show_table: section.settings.show_variant_table,
                enable_dynamic_sticky: true,
                enable_description: true
              %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product_table.name",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:general.settings.collection.label"
    },
    {
      "type": "header",
      "content": "t:general.headers.content.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:general.settings.content.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:general.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:general.settings.button_url.label"
    },
    {
      "type": "header",
      "content": "t:general.headers.spacing.content"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "t:general.settings.top_spacing.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "t:general.settings.bottom_spacing.label",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:general.headers.color.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "options": [
        {
          "value": "color__bg-body color__text",
          "label": "t:general.settings.color_scheme.body.label"
        },
        {
          "value": "color__bg-neutral color__neutral",
          "label": "t:general.settings.color_scheme.neutral.label"
        },
        {
          "value": "color__bg-overlay-1 color__text",
          "label": "t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value": "color__bg-overlay-2 color__text",
          "label": "t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value": "color__bg-overlay-3 color__text",
          "label": "t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value": "color__bg-shade-1 color__text",
          "label": "t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value": "color__bg-shade-2 color__text",
          "label": "t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value": "color__bg-shade-3 color__text",
          "label": "t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value": "color__bg-primary color__primary",
          "label": "t:general.settings.color_scheme.primary.label"
        },
        {
          "value": "color__bg-secondary color__secondary",
          "label": "t:general.settings.color_scheme.secondary.label"
        },
        {
          "value": "color__bg-tertiary color__tertiary",
          "label": "t:general.settings.color_scheme.tertiary.label"
        }
      ],
      "default": "color__bg-body color__text"
    },
    {
      "type": "select",
      "id": "color_border",
      "label": "t:general.settings.color_border.label",
      "options": [
        {
          "value": "color__border-divider-1",
          "label": "t:general.settings.color_border.subtle.label"
        },
        {
          "value": "color__border-selected-1",
          "label": "t:general.settings.color_border.strong.label"
        }
      ],
      "default": "color__border-divider-1"
    },
    {
      "type": "select",
      "id": "color_button",
      "label": "t:general.settings.color_button.label",
      "options": [
        {
          "value": "btn",
          "label": "t:general.settings.color_button.primary.label"
        },
        {
          "value": "btn btn--secondary",
          "label": "t:general.settings.color_button.secondary.label"
        },
        {
          "value": "btn btn--tertiary",
          "label": "t:general.settings.color_button.tertiary.label"
        },
        {
          "value": "btn btn--neutral",
          "label": "t:general.settings.color_button.neutral.label"
        },
        {
          "value": "btn btn--plain",
          "label": "t:general.settings.color_button.plain.label"
        },
        {
          "value": "btn btn--outline",
          "label": "t:general.settings.color_button.outline.label"
        },
        {
          "value": "btn btn--outline-alt",
          "label": "t:general.settings.color_button.inverted_outline.label"
        },
        {
          "value": "btn btn--minimal",
          "label": "t:general.settings.color_button.link.label"
        },
        {
          "value": "btn btn--minimal-alt",
          "label": "t:general.settings.color_button.inverted_link.label"
        }
      ],
      "default": "btn btn--secondary"
    },
    {
      "type": "header",
      "content": "t:general.headers.style.content"
    },
    {
      "type": "select",
      "id": "style_border",
      "label": "t:general.settings.border_position.label",
      "options": [
        {
          "value": "",
          "label": "t:general.settings.border_position.none.label"
        },
        {
          "value": "border--t-width",
          "label": "t:general.settings.border_position.top.label"
        },
        {
          "value": "border--b-width",
          "label": "t:general.settings.border_position.bottom.label"
        },
        {
          "value": "border--b-width border--t-width",
          "label": "t:general.settings.border_position.top_and_bottom.label"
        }
      ],
      "default": "border--b-width"
    },
    {
      "type": "header",
      "content": "t:general.headers.layout.content"
    },
    {
      "type": "select",
      "id": "layout_x_alignment",
      "label": "t:general.settings.x_alignment.label",
      "options": [
        {
          "value": "justify-between",
          "label": "t:general.settings.x_alignment.left.label"
        },
        {
          "value": "text-center justify-center flex-col items-center",
          "label": "t:general.settings.x_alignment.center.label"
        },
        {
          "value": "text-right justify-end flex-col items-end",
          "label": "t:general.settings.x_alignment.right.label"
        }
      ],
      "default": "justify-between"
    },
    {
      "type": "checkbox",
      "id": "enable_margin",
      "label": "t:general.settings.enable_margin.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_split",
      "label": "t:general.settings.enable_split.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:general.headers.display.content"
    },
    {
      "type": "select",
      "id": "visibility",
      "label": "t:general.settings.visibility.label",
      "options": [
        {
          "value": "",
          "label": "t:general.settings.visibility.all.label"
        },
        {
          "value": "md:hidden",
          "label": "t:general.settings.visibility.mobile.label"
        },
        {
          "value": "hidden md:block",
          "label": "t:general.settings.visibility.desktop.label"
        }
      ],
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "show_details_button",
      "label": "t:general.settings.show_details_button.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_variant_table",
      "label": "t:general.settings.show_variant_table.label",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_table.name",
      "settings": {
        "color_border": "color__border-divider-1",
        "color_button": "btn btn--secondary",
        "style_border": "border--b-width",
        "heading": "Product table",
        "content": "<p>Describe a product, make announcements, or welcome customers to your store.</p>",
        "button_label": "Button",
        "button_url": "shopify:\/\/collections\/all"
      }
    }
  ],
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  }
}
{% endschema %}
