<!-- sections/theme__menu.liquid -->
{% comment %}
  Slide out menu.

  Globals:
  - enable_region: {boolean} Enable or disable the region selector.
  - enable_language: {boolean} Enable or disable the language selector.
  - type_separator: {string} Setting to pick the type of separator between text.

  Recommendations:
  - Create a new navigation link list to set unique menu items.
  - Use this section to customize the navigation menu of your store.
{% endcomment %}

{% capture menu_content_sidebar %}
  {% render 'theme__menu-content' menu_type: 'sidebar' %}
{% endcapture %}

{% capture menu_content_drawer %}
  {% render 'theme__menu-content' menu_type: 'drawer' %}
{% endcapture %}

{% comment %} Desktop sidebar menu {% endcomment %}
<aside
  id="{{ section.id }}"
  class="
    animation-300--all relative top-0 hidden h-full min-h-[100svh] max-w-[300px] lg:block
    {{ section.settings.main_color_scheme }}
    {{ section.settings.main_color_border }}
  "
  {% if section.settings.enable_sidebar %}
    x-init="menu_sidebar = window.innerWidth > 1024;"
  {% else %}
    x-init="menu_sidebar = false;"
    x-cloak
  {% endif %}
  x-show="menu_sidebar"
  {% if settings.enable_animations %}
    x-transition:enter="opacity-0 !max-w-0 -z-10"
    x-transition:enter-start="opacity-0 !max-w-0 -z-10"
    x-transition:enter-end="opacity-100 max-w-[300px] -z-10"
    x-transition:leave="opacity-100 max-w-[300px] -z-10"
    x-transition:leave-start="opacity-100 max-w-[300px] -z-10"
    x-transition:leave-end="opacity-0 !max-w-0 -z-10"
  {% endif %}
>
  {{ menu_content_sidebar }}
</aside>

{% comment %} Mobile drawer menu {% endcomment %}
<section
  id="{{ section.id }}"
  class="z-10 lg:hidden"
>
  {% render 'component__dragdrawer',
    drawer_id: 'menu_drawer',
    mobile_pos: 'bottom',
    desktop_pos: 'left',
    enable_full_height: true,
    enable_focus_trap: false,
    content: menu_content_drawer
  %}
</section>

{% schema %}
{
  "name": "t:sections.theme_menu.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sidebar",
      "label": "t:general.settings.enable_sidebar.label",
      "info": "t:general.settings.enable_sidebar.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:general.headers.logos.content"
    },
    {
      "type": "image_picker",
      "id": "logo_default",
      "label": "t:general.settings.logo_default.label"
    },
    {
      "type": "range",
      "id": "logo_desktop_height",
      "min": 10,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "t:general.settings.desktop_logo_height.label",
      "default": 24
    },
    {
      "type": "range",
      "id": "logo_mobile_height",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "t:general.settings.mobile_logo_height.label",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "enable_logo",
      "label": "t:general.settings.enable_logo.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:general.headers.top_bar.content"
    },
    {
      "type": "select",
      "id": "top_color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "options": [
        {
          "value": "color__bg-body color__text",
          "label": "t:general.settings.color_scheme.body.label"
        },
        {
          "value": "color__bg-neutral color__text",
          "label": "t:general.settings.color_scheme.neutral.label"
        },
        {
          "value": "color__bg-overlay-1 color__text",
          "label": "t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value": "color__bg-overlay-2 color__text",
          "label": "t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value": "color__bg-overlay-3 color__text",
          "label": "t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value": "color__bg-shade-1 color__text",
          "label": "t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value": "color__bg-shade-2 color__text",
          "label": "t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value": "color__bg-shade-3 color__text",
          "label": "t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value": "color__bg-primary color__primary",
          "label": "t:general.settings.color_scheme.primary.label"
        },
        {
          "value": "color__bg-secondary color__secondary",
          "label": "t:general.settings.color_scheme.secondary.label"
        },
        {
          "value": "color__bg-tertiary color__tertiary",
          "label": "t:general.settings.color_scheme.tertiary.label"
        }
      ],
      "default": "color__bg-body color__text"
    },
    {
      "type": "select",
      "id": "top_color_border",
      "label": "t:general.settings.color_border.label",
      "options": [
        {
          "value": "color__border-divider-1",
          "label": "t:general.settings.color_border.subtle.label"
        },
        {
          "value": "color__border-selected-1",
          "label": "t:general.settings.color_border.strong.label"
        },
        {
          "value": "!color__border-transparent",
          "label": "t:general.settings.color_border.none.label"
        }
      ],
      "default": "color__border-divider-1"
    },
    {
      "type": "header",
      "content": "t:general.headers.main_section.content"
    },
    {
      "type": "select",
      "id": "main_color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "options": [
        {
          "value": "color__bg-body color__text",
          "label": "t:general.settings.color_scheme.body.label"
        },
        {
          "value": "color__bg-neutral color__text",
          "label": "t:general.settings.color_scheme.neutral.label"
        },
        {
          "value": "color__bg-overlay-1 color__text",
          "label": "t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value": "color__bg-overlay-2 color__text",
          "label": "t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value": "color__bg-overlay-3 color__text",
          "label": "t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value": "color__bg-shade-1 color__text",
          "label": "t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value": "color__bg-shade-2 color__text",
          "label": "t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value": "color__bg-shade-3 color__text",
          "label": "t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value": "color__bg-primary color__primary",
          "label": "t:general.settings.color_scheme.primary.label"
        },
        {
          "value": "color__bg-secondary color__secondary",
          "label": "t:general.settings.color_scheme.secondary.label"
        },
        {
          "value": "color__bg-tertiary color__tertiary",
          "label": "t:general.settings.color_scheme.tertiary.label"
        }
      ],
      "default": "color__bg-body color__text"
    },
    {
      "type": "select",
      "id": "main_color_border",
      "label": "t:general.settings.color_border.label",
      "options": [
        {
          "value": "color__border-divider-1",
          "label": "t:general.settings.color_border.subtle.label"
        },
        {
          "value": "color__border-selected-1",
          "label": "t:general.settings.color_border.strong.label"
        },
        {
          "value": "!color__border-transparent",
          "label": "t:general.settings.color_border.none.label"
        }
      ],
      "default": "color__border-divider-1"
    },
    {
      "type": "header",
      "content": "t:general.headers.bottom_section.content"
    },
    {
      "type": "link_list",
      "id": "bottom_links",
      "label": "t:general.settings.submenu.label"
    },
    {
      "type": "select",
      "id": "bottom_color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "options": [
        {
          "value": "color__bg-body color__text",
          "label": "t:general.settings.color_scheme.body.label"
        },
        {
          "value": "color__bg-neutral color__text",
          "label": "t:general.settings.color_scheme.neutral.label"
        },
        {
          "value": "color__bg-overlay-1 color__text",
          "label": "t:general.settings.color_scheme.accent_1.label"
        },
        {
          "value": "color__bg-overlay-2 color__text",
          "label": "t:general.settings.color_scheme.accent_2.label"
        },
        {
          "value": "color__bg-overlay-3 color__text",
          "label": "t:general.settings.color_scheme.accent_3.label"
        },
        {
          "value": "color__bg-shade-1 color__text",
          "label": "t:general.settings.color_scheme.shade_1.label"
        },
        {
          "value": "color__bg-shade-2 color__text",
          "label": "t:general.settings.color_scheme.shade_2.label"
        },
        {
          "value": "color__bg-shade-3 color__text",
          "label": "t:general.settings.color_scheme.shade_3.label"
        },
        {
          "value": "color__bg-primary color__primary",
          "label": "t:general.settings.color_scheme.primary.label"
        },
        {
          "value": "color__bg-secondary color__secondary",
          "label": "t:general.settings.color_scheme.secondary.label"
        },
        {
          "value": "color__bg-tertiary color__tertiary",
          "label": "t:general.settings.color_scheme.tertiary.label"
        }
      ],
      "default": "color__bg-overlay-1 color__text"
    },
    {
      "type": "select",
      "id": "bottom_color_border",
      "label": "t:general.settings.color_border.label",
      "options": [
        {
          "value": "color__border-divider-1",
          "label": "t:general.settings.color_border.subtle.label"
        },
        {
          "value": "color__border-selected-1",
          "label": "t:general.settings.color_border.strong.label"
        },
        {
          "value": "!color__border-transparent",
          "label": "t:general.settings.color_border.none.label"
        }
      ],
      "default": "color__border-divider-1"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "t:sections.theme_menu.blocks.content.name",
      "limit": 5,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:general.paragraphs.menu_content.content"
        },
        {
          "type": "header",
          "content": "t:general.headers.content.content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.heading.label",
          "default": "t:general.defaults.block_heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:general.settings.content.label",
          "default": "t:general.defaults.standard_placeholder"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:general.settings.button_label.label",
          "default": "t:general.defaults.button"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:general.settings.url.label",
          "info": "t:general.settings.url.info",
          "default": "/collections/all"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:general.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_background",
          "label": "t:general.settings.image_background.label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:general.settings.video.label"
        },
        {
          "type": "checkbox",
          "id": "enable_autoplay",
          "label": "t:general.settings.enable_video_autoplay.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_mute_toggle",
          "label": "t:general.settings.enable_mute_button.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_loop",
          "label": "t:general.settings.enable_video_loop.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:general.headers.spacing.content"
        },
        {
          "type": "range",
          "id": "spacing_minimum_height",
          "min": 0,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "t:general.settings.minimum_height.label",
          "default": 250
        },
        {
          "type": "checkbox",
          "id": "enable_padding",
          "label": "t:general.settings.enable_padding.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:general.headers.color.content"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "t:general.settings.color_scheme.label",
          "options": [
            {
              "value": "color__bg-body color__text",
              "label": "t:general.settings.color_scheme.body.label"
            },
            {
              "value": "color__bg-neutral color__text",
              "label": "t:general.settings.color_scheme.neutral.label"
            },
            {
              "value": "color__bg-overlay-1 color__text",
              "label": "t:general.settings.color_scheme.accent_1.label"
            },
            {
              "value": "color__bg-overlay-2 color__text",
              "label": "t:general.settings.color_scheme.accent_2.label"
            },
            {
              "value": "color__bg-overlay-3 color__text",
              "label": "t:general.settings.color_scheme.accent_3.label"
            },
            {
              "value": "color__bg-shade-1 color__text",
              "label": "t:general.settings.color_scheme.shade_1.label"
            },
            {
              "value": "color__bg-shade-2 color__text",
              "label": "t:general.settings.color_scheme.shade_2.label"
            },
            {
              "value": "color__bg-shade-3 color__text",
              "label": "t:general.settings.color_scheme.shade_3.label"
            },
            {
              "value": "color__bg-primary color__primary",
              "label": "t:general.settings.color_scheme.primary.label"
            },
            {
              "value": "color__bg-secondary color__secondary",
              "label": "t:general.settings.color_scheme.secondary.label"
            },
            {
              "value": "color__bg-tertiary color__tertiary",
              "label": "t:general.settings.color_scheme.tertiary.label"
            },
            {
              "value": "color__bg-transparent",
              "label": "t:general.settings.color_scheme.transparent.label"
            }
          ],
          "default": "color__bg-overlay-1 color__text"
        },
        {
          "type": "select",
          "id": "color_text",
          "label": "t:general.settings.color_text.label",
          "options": [
            {
              "value": "!color__text",
              "label": "t:general.settings.color_text.default.label"
            },
            {
              "value": "!color__light",
              "label": "t:general.settings.color_text.force_light.label"
            },
            {
              "value": "!color__dark",
              "label": "t:general.settings.color_text.force_dark.label"
            }
          ],
          "default": "!color__text"
        },
        {
          "type": "select",
          "id": "color_border",
          "label": "t:general.settings.color_border.label",
          "options": [
            {
              "value": "outline--width color__outline-divider-1",
              "label": "t:general.settings.color_border.subtle.label"
            },
            {
              "value": "outline--width color__outline-selected-1",
              "label": "t:general.settings.color_border.strong.label"
            },
            {
              "value": "",
              "label": "t:general.settings.color_border.none.label"
            }
          ],
          "default": "outline--width color__outline-divider-1"
        },
        {
          "type": "select",
          "id": "color_button",
          "label": "t:general.settings.color_button.label",
          "options": [
            {
              "value": "btn--small",
              "label": "t:general.settings.color_button.primary.label"
            },
            {
              "value": "btn--small btn--secondary",
              "label": "t:general.settings.color_button.secondary.label"
            },
            {
              "value": "btn--small btn--tertiary",
              "label": "t:general.settings.color_button.tertiary.label"
            },
            {
              "value": "btn--small btn--neutral",
              "label": "t:general.settings.color_button.neutral.label"
            },
            {
              "value": "btn--small btn--plain",
              "label": "t:general.settings.color_button.plain.label"
            },
            {
              "value": "btn--small btn--outline",
              "label": "t:general.settings.color_button.outline.label"
            },
            {
              "value": "btn--small btn--outline-alt",
              "label": "t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value": "btn--small btn--minimal",
              "label": "t:general.settings.color_button.link.label"
            },
            {
              "value": "btn--small btn--minimal-alt",
              "label": "t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default": "btn--small btn--secondary"
        },
        {
          "type": "checkbox",
          "id": "enable_gradient",
          "label": "t:general.settings.enable_gradient.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:general.headers.layout.content"
        },
        {
          "type": "select",
          "id": "layout_y_alignment",
          "label": "t:general.settings.y_alignment.label",
          "options": [
            {
              "value": "justify-start",
              "label": "t:general.settings.y_alignment.top.label"
            },
            {
              "value": "justify-center",
              "label": "t:general.settings.y_alignment.middle.label"
            },
            {
              "value": "justify-end",
              "label": "t:general.settings.y_alignment.bottom.label"
            }
          ],
          "default": "justify-end"
        },
        {
          "type": "select",
          "id": "layout_x_alignment",
          "label": "t:general.settings.x_alignment.label",
          "options": [
            {
              "value": "left",
              "label": "t:general.settings.x_alignment.left.label"
            },
            {
              "value": "center",
              "label": "t:general.settings.x_alignment.center.label"
            },
            {
              "value": "justify",
              "label": "t:general.settings.x_alignment.justify.label"
            },
            {
              "value": "right",
              "label": "t:general.settings.x_alignment.right.label"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "t:general.settings.text_position.label",
          "options": [
            {
              "value": "above",
              "label": "t:general.settings.text_position.above.label"
            },
            {
              "value": "below",
              "label": "t:general.settings.text_position.below.label"
            }
          ],
          "default": "below"
        }
      ]
    },
    {
      "type": "menu",
      "name": "t:sections.theme_menu.blocks.menu.name",
      "limit": 5,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:general.settings.menu.label",
          "default": "main-menu"
        }
      ]
    },
    {
      "type": "announcement",
      "name": "t:sections.theme_menu.blocks.announcement.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:general.headers.content.content"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:general.settings.content.label",
          "default": "t:general.defaults.short_placeholder"
        },
        {
          "type": "header",
          "content": "t:general.headers.color.content"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "t:general.settings.color_scheme.label",
          "options": [
            {
              "value": "color__bg-body color__text",
              "label": "t:general.settings.color_scheme.body.label"
            },
            {
              "value": "color__bg-neutral color__text",
              "label": "t:general.settings.color_scheme.neutral.label"
            },
            {
              "value": "color__bg-overlay-1 color__text",
              "label": "t:general.settings.color_scheme.accent_1.label"
            },
            {
              "value": "color__bg-overlay-2 color__text",
              "label": "t:general.settings.color_scheme.accent_2.label"
            },
            {
              "value": "color__bg-overlay-3 color__text",
              "label": "t:general.settings.color_scheme.accent_3.label"
            },
            {
              "value": "color__bg-shade-1 color__text",
              "label": "t:general.settings.color_scheme.shade_1.label"
            },
            {
              "value": "color__bg-shade-2 color__text",
              "label": "t:general.settings.color_scheme.shade_2.label"
            },
            {
              "value": "color__bg-shade-3 color__text",
              "label": "t:general.settings.color_scheme.shade_3.label"
            },
            {
              "value": "color__bg-primary color__primary",
              "label": "t:general.settings.color_scheme.primary.label"
            },
            {
              "value": "color__bg-secondary color__secondary",
              "label": "t:general.settings.color_scheme.secondary.label"
            },
            {
              "value": "color__bg-tertiary color__tertiary",
              "label": "t:general.settings.color_scheme.tertiary.label"
            }
          ],
          "default": "color__bg-secondary color__secondary"
        },
        {
          "type": "header",
          "content": "t:general.headers.layout.content"
        },
        {
          "type": "select",
          "id": "layout_x_alignment",
          "label": "t:general.settings.x_alignment.label",
          "options": [
            {
              "value": "left",
              "label": "t:general.settings.x_alignment.left.label"
            },
            {
              "value": "center",
              "label": "t:general.settings.x_alignment.center.label"
            },
            {
              "value": "right",
              "label": "t:general.settings.x_alignment.right.label"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.theme_menu.blocks.newsletter.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:general.paragraphs.menu_content.content"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:general.settings.content.label",
          "default": "t:general.defaults.subscribe_message"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:general.settings.button_label.label",
          "default": "t:general.defaults.subscribe"
        },
        {
          "type": "richtext",
          "id": "disclaimer",
          "label": "t:general.settings.disclaimer.label"
        },
        {
          "type": "richtext",
          "id": "success",
          "label": "t:general.settings.success_message.label",
          "default": "t:general.defaults.subscribe_success_message"
        },
        {
          "type": "header",
          "content": "t:general.headers.color.content"
        },
        {
          "type": "select",
          "id": "color_button",
          "label": "t:general.settings.color_button.label",
          "options": [
            {
              "value": "btn--small",
              "label": "t:general.settings.color_button.primary.label"
            },
            {
              "value": "btn--small btn--secondary",
              "label": "t:general.settings.color_button.secondary.label"
            },
            {
              "value": "btn--small btn--tertiary",
              "label": "t:general.settings.color_button.tertiary.label"
            },
            {
              "value": "btn--small btn--neutral",
              "label": "t:general.settings.color_button.neutral.label"
            },
            {
              "value": "btn--small btn--plain",
              "label": "t:general.settings.color_button.plain.label"
            },
            {
              "value": "btn--small btn--outline",
              "label": "t:general.settings.color_button.outline.label"
            },
            {
              "value": "btn--small btn--outline-alt",
              "label": "t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value": "btn--small btn--minimal",
              "label": "t:general.settings.color_button.link.label"
            },
            {
              "value": "btn--small btn--minimal-alt",
              "label": "t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default": "btn--small btn--secondary"
        }
      ]
    },
    {
      "type": "form",
      "name": "t:sections.theme_menu.blocks.form.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:general.paragraphs.menu_content.content"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:general.settings.content.label",
          "default": "t:general.defaults.subscribe_message"
        },
        {
          "type": "header",
          "content": "t:general.headers.color.content"
        },
        {
          "type": "select",
          "id": "color_button",
          "label": "t:general.settings.color_button.label",
          "options": [
            {
              "value": "btn--small !color__primary",
              "label": "t:general.settings.color_button.primary.label"
            },
            {
              "value": "btn--small btn--secondary !color__secondary",
              "label": "t:general.settings.color_button.secondary.label"
            },
            {
              "value": "btn--small btn--tertiary !color__tertiary",
              "label": "t:general.settings.color_button.tertiary.label"
            },
            {
              "value": "btn--small btn--neutral !color__text",
              "label": "t:general.settings.color_button.neutral.label"
            },
            {
              "value": "btn--small btn--plain !color__text",
              "label": "t:general.settings.color_button.plain.label"
            },
            {
              "value": "btn--small btn--outline !color__text",
              "label": "t:general.settings.color_button.outline.label"
            },
            {
              "value": "btn--small btn--outline-alt !color__light",
              "label": "t:general.settings.color_button.inverted_outline.label"
            },
            {
              "value": "btn--small btn--minimal !color__text",
              "label": "t:general.settings.color_button.link.label"
            },
            {
              "value": "btn--small btn--minimal-alt !color__light",
              "label": "t:general.settings.color_button.inverted_link.label"
            }
          ],
          "default": "btn--small btn--plain !color__text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["custom.overlay"]
  }
}
{% endschema %}
